<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset='UTF-8'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>
   <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous'>
   <title>Document</title>
</head>
<body class="bg-primary text-white">
    <h1 class=" pb-2 text-center bg-secondary text-white display-2">Cupcakes</h1>
    <div class="container row">
    <ul id="cupcakes" class="d-flex flex-row container">
   



    
</ul>
</div>
<h4 class="text-white text-center">Add Cupcake</h4>
<form class="container" action="" id="add-cupcake-form">
    <label class="form-label text-white" for="flavor">Flavor</label>
    <input class="form-control bg-light bg-gradient mb-2" type="text" name="flavor" id="flavor">
    <label class="form-label text-white" for="size">Size</label>
    <input class="form-control bg-light bg-gradient mb-2" type="text" name="size" id="size">
    <label class="form-label text-white" for="rating">Rating</label>
    <input class="form-control bg-light bg-gradient mb-2" type="text" name="rating" id="rating">
    <label class="form-label text-white" for="image">Image Url</label>
    <input class="form-control bg-light bg-gradient mb-2" type="text" name="image" id="image">
    <button class="btn btn-secondary">Add Cupcake</button>
</form>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js' integrity='sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==' crossorigin='anonymous'></script>
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous'></script>
  <script src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous'></script>
  <script src="/static/app.js"></script>
</body>
</html>